body {
    overflow-x: hidden;
}

.required {
    color: red;
}

small {
    font-size: 100%;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: -11px 0 1.5em 0 !important;
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.panel-primary {
    border-color: black;
}

.panel-primary > .panel-heading {
    background-color: black;
    border-color: black;
}

.top-buffer {
    margin-top: 20px;
}

.gift-category {
    margin-left: 10px;
}

/*
css for link design
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ellipses {
    /* essential */
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.gift {
    margin-bottom: 20px;
!important;
}

.gift-price {

}

.want-gift-btn {

}

.gift-new-label {
    float: left;
    position: relative;
}

.gift-new-label::after {
    content: url("/assets/main/images/gift_label-new.png");
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0.5em;
}

.blocker {
    z-index: 1000;
    height: 100%;
    width: 100%;
    /*background: gray;*/
    opacity: 0.7;
    position: absolute;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}