<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>SmartestGift</display-name>

    <!-- Описание корневого контейнера, разделяемого всеми сервлетами и фильтрами -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/root-context.xml
        </param-value>
    </context-param>

    <!-- Создаёт контейнер Spring, разделяемый всеми сервлетами и фильтрами -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Базовый сервлет, обрабатывает все запросы к приложению -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <!-- filter encoding -->
    <!-- Reads request input using UTF-8 encoding -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- security filter -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- jsp encoding -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!-- erros pages -->
    <!--    <error-page>
            &lt;!&ndash; Missing login &ndash;&gt;
            <error-code>401</error-code>
            <location>/general-error.html</location>
        </error-page>
        <error-page>
            &lt;!&ndash; Forbidden directory listing &ndash;&gt;
            <error-code>403</error-code>
            <location>/general-error.html</location>
        </error-page>-->
    <!--<error-page>-->
        <!--&lt;!&ndash; Page not found&ndash;&gt;-->
        <!--<error-code>404</error-code>-->
        <!--<location>/404.jsp</location>-->
    <!--</error-page>-->
    <!--    <error-page>
            &lt;!&ndash; Uncaught exception &ndash;&gt;
            <error-code>500</error-code>
            <location>/general-error.html</location>
        </error-page>
        <error-page>
            &lt;!&ndash; Unsupported servlet method &ndash;&gt;
            <error-code>503</error-code>
            <location>/general-error.html</location>
        </error-page>-->
</web-app>
